In [1]:
import pandas as pd
import yfinance as yf

In [2]:
stock_code_1 = input("개별 종목 코드를 입력해주세요.(해외/KS/KQ)")
stock_code_2 = input("섹터명을 입력해주세요. \n (반도체, 반도체장비, 자동차, 은행, 보험, 증권, 철강, 정유, 화학, 음식료, 화장품, 통신, 전기가스, 인터넷, 게임, 배터리, 바이오)")
start_date = input("조회 시작일을 입력해주세요.")
end_date = input("조회 종료일을 입력해주세요.")

In [3]:
if stock_code_2 == "반도체":
    sector = ["semi"]
    # ("삼성전자", "하이닉스")
    semi = ["005930.KS", "000660.KS"]
elif stock_code_2 == "반도체장비":
    sector = ["semi_product"]
    # ("DB하이텍", "한미반도체", "동진쎄미켐", "원익IPS", "신성이엔지", "리노공업", "주성엔지니어링", "솔브레인", "KEC", "하나마이크론")
    # semi_product = ["000990.KS", "042700.KS", "005290.KS", "240810.KQ", "011930.KS", "058470.KQ", "036930.KQ", "036830.KQ", "092220.KS", "067310.KQ"]
    semi_product = ["000990.KS", "042700.KS"]
elif stock_code_2 == "자동차":
    sector = ["automobile"]
    # ("현대차", "기아차", "현대모비스")
    automobile = ["005380.KS", "000270.KS", "012330.KS"]
elif stock_code_2 == "은행":
    sector = ["bank"]
    # ("KB금융", "신한지주", "하나금융지주")
    bank = ["105560.KS", "055550.KS", "086790.KS"]
elif stock_code_2 == "보험":
    sector = ["insurance"]
    # ("삼성생명", "삼성화재")
    insurance = ["032830.KS", "000810.KS"]
elif stock_code_2 == "증권":
    sector = ["finance"]
    # ("삼성증권", "미래에셋증권", "NH투자증권")
    finance = ["016360.KS", "006800.KS", "005940.KS"]
elif stock_code_2 == "철강":
    sector = ["steel"]
    # ("포스코홀딩스?", "현대제철")
    steel = ["005490.KS", "004020.KS"]
elif stock_code_2 == "정유":
    sector = ["refinery"]
    # ("sk이노베이션? 지수사", "s-oil", "gs")
    refinery = ["096770.KS", "010950.KS", "078930.KS"]
elif stock_code_2 == "화학":
    sector = ["chemistry"]
    # ("롯데케미칼", "lg화학")
    chemistry = ["011170.KS", "051910.KS"]
elif stock_code_2 == "음식료":
    sector = ["food"]
    # ("cj제일제당", "농심", "오리온")
    food = ["097950.KS", "004370.KS", "271560.KS"]
elif stock_code_2 == "화장품":
    sector = ["cosmetics"]
    # ("아모레퍼시픽", "코스맥스", "한국콜마")
    cosmetics = ["090430.KS", "192820.KS", "161890.KS"]
elif stock_code_2 == "통신":
    sector = ["communication"]
    # ("skt", "kt", "lgu+")
    communication = ["017670.KS", "030200.KS", "032640.KS"]
elif stock_code_2 == "전기가스":
    sector = ["utility"]
    # ("한국전력", "한국가스공사", "한전kps")
    utility = ["015760.KS", "036460.KS", "051600.KS"]
elif stock_code_2 == "인터넷":
    sector = ["internet"]
    # ("네이버", "카카오")
    internet = ["035420.KS", "035720.KS"]
elif stock_code_2 == "게임":
    sector = ["game"]
    # ("넷마블", "엔씨소프트", "컴투스", "크레프톤", "위메이드")
    game = ["251270.KS", "036570.KS", "078340.KQ", "259960.KS", "112040.KQ"]
elif stock_code_2 == "배터리":
    sector = ["battery"]
    # ("lg에너지솔루션", "삼성sdi", "에코프로", "에코프로비엠", "포스코퓨처엠")
    battery = ["373220.KS", "006400.KS", "086520.KQ", "247540.KQ", "003670.KS"]
elif stock_code_2 == "바이오":
    sector = ["bio"]
    # ("한미약품", "유한양행", "대웅제약", "삼성바이오로직스", "셀트리온", "종근당", "sk바이오사이언스")
    bio = ["128940.KS", "000100.KS", "069620.KS", "207940.KS", "068270.KS", "001630.KS", "302440.KS"]

In [4]:
pxclose = pd.DataFrame()

pxclose[stock_code_1] = yf.download(stock_code_1, interval='1wk', start = start_date, end = end_date)['Adj Close'].pct_change(fill_method=None)

for index, value in enumerate(sector):
    pxclose[value] = yf.download(eval(f'{value}'), interval='1wk', start = start_date, end = end_date)['Adj Close'].pct_change(fill_method=None).mean(axis='columns').round(2)


print(pxclose)
pxclose.corr().round(2)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  3 of 3 completed

            005930.KS  automobile
Date
2022-02-21        NaN         NaN
2022-02-28   0.013908        0.01
2022-03-07  -0.039780       -0.06
2022-03-14   0.010000        0.02
2022-03-21  -0.012730        0.00
...               ...         ...
2024-01-22  -0.017403        0.04
2024-01-29   0.024523        0.21
2024-02-05  -0.014628        0.01
2024-02-12  -0.017544        0.01
2024-02-19   0.004121        0.02

[105 rows x 2 columns]

            005930.KS  automobile
005930.KS        1.00        0.38
automobile       0.38        1.00